{% load static %}



        <ul class="navigation">
            <li id="li_home"><a href="{% url 'index' %}"><i class="zmdi zmdi-home"></i>Home</a></li>
            <li class="navigation__sub" id="li_clinicas">
                <a href=""><i class="zmdi zmdi-view-week"></i> Clínicas</a>

                <ul>
                    {% if permissao_clinica %}
                    <li id="li_nova_clinica" ><a href="{% url 'new-clinica' %}">Nova Clínica</a></li>
                    {% endif %}
                    <li id="li_listar_clinicas"><a href="{% url 'list-clinica' %}">Listar Clínicas</a></li>
                </ul>
            </li>
            <li class="navigation__sub" id="li_profissionais">
                <a href=""><i class="zmdi zmdi-view-week"></i> Profissionais</a>

                <ul>
                    {% if permissao_profissional %}
                    <li id="li_novo_profissional" ><a href="{% url 'new-profissional' %}">Novo Profissional</a></li>
                    {% endif %}
                    <li id="li_listar_profissionais"><a href="{% url 'list-profissional' %}">Listar Profissionais</a></li>
                </ul>
            </li>
            <li class="navigation__sub" id="li_pacientes">
                <a href=""><i class="zmdi zmdi-view-week"></i> Pacientes</a>

                <ul>
                    {% if permissao_paciente %}
                    <li id="li_novo_paciente" ><a href="{% url 'new-paciente' %}">Novo Paciente</a></li>
                    {% endif %}
                    <li id="li_listar_pacientes"><a href="{% url 'list-paciente' %}">Listar Pacientes</a></li>
                </ul>
            </li>
        </ul>
