{% extends "base_index.html" %}
{% block index %}
{% load static %}

<script>

window.onload = function(){
  document.getElementById('li_clinicas').className = "navigation__active";
}

</script>

      <section class="content">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Clínicas</h4>

                <table class="table mb-0">
                    <thead>
                    <tr>
                        <th>CNPJ</th>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>Contato</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for clinica in clinicas %}
                    <tr>
                        <td>{{clinica.cnpj}}</td>
                        <td>{{clinica.nome}}</td>
                        <td>{{clinica.endereco}}</td>
                        <td>{{clinica.contato}}</td>
                        <td><a class="nav-link active" href="{% url 'update-clinica' clinica.cnpj %}">Atualizar</a></td>
                        <td><a class="nav-link active" href="{% url 'delete-clinica' clinica.cnpj %}">Deletar</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</main>

{% endblock %}
