{% extends "base_index.html" %}
{% block index %}
{% load static %}

<script>

window.onload = function(){
  document.getElementById('li_clinicas').className = "navigation__sub navigation__sub--active navigation__sub--toggled";
  document.getElementById('li_nova_clinica').className = "navigation__active";
}

</script>

                <div class="content__inner">
                    <header class="content__title">
                        <h1>
                          {% if clinica %}
                          Atualizar Clínica
                          {% else %}
                          Nova Clínica
                          {% endif %}
                        </h1>
                    </header>
                </div>
<div class="card">
  <div class="card-body">

      <form method="post" name="form" id="form">
        {% csrf_token %}

      {% for field in form %}
      <div class="form-group form-group--float">

        {% if field.name == "cnpj" %}
        <input id="{{field.id_for_label}}" type="text" class="form-control" value="{{field.value|default_if_none:''}}" name="{{field.name}}" maxlength="11">
        <label>{{ field.name|upper }}</label>
        {% else %}
        <input id="{{field.id_for_label}}" type="text" class="form-control" value="{{field.value|default_if_none:''}}" name="{{field.name}}" >
        <label>{{field.name|capfirst}}</label>
        {% endif %}

        {% if field.errors %}
          <script type="text/javascript">
            alert("alert");
          </script>
        {% endif %}

        <i class="form-group__bar"></i>
      </div>
      {% endfor %}

      {% if clinica %}
      <button type="button" onclick="atualizar({{cnpjs}}, {{cnpj}})" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          Atualizar
      </button>
      {% else %}
      <button type="button" onclick="cadastrar({{cnpjs}})" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          Cadastrar
      </button>
      {% endif %}

    </form>

  </div>
</div>


<script>
  function cadastrar(cnpjs){

    cnpj = document.getElementById('id_cnpj').value;
    nome = document.getElementById('id_nome').value;
    endereco = document.getElementById('id_endereco').value;
    contato = document.getElementById('id_contato').value;

    if(cnpj != "" && nome != "" && endereco != "" && contato != ""){
      cnpj_valido = true;

      if(cnpjs.indexOf(cnpj) != -1){
        cnpj_valido = false;
        notify("bottom", "center", "fa fa-check", "info", "animated fadeIn", "animated fadeOut", "Erro - ", "Este CNPJ já está cadastrado");
      }

      if(cnpj_valido)
        cadastroValido(nome);
    }

    else{
      document.form.action = "javascript:void(0)";
      notify("bottom", "center", "fa fa-check", "info", "animated fadeIn", "animated fadeOut", "Erro - ", "Preencha todos os campos");
    }

  }

  function atualizar(cnpjs, c){

    cnpj = document.getElementById('id_cnpj').value;
    nome = document.getElementById('id_nome').value;
    endereco = document.getElementById('id_endereco').value;
    contato = document.getElementById('id_contato').value;

    if(cnpj != "" && nome != "" && endereco != "" && contato != ""){
      cnpj_valido = true;

      if(cnpjs.indexOf(cnpj) != -1 && cnpj != c){
        cnpj_valido = false;
        notify("bottom", "center", "fa fa-check", "info", "animated fadeIn", "animated fadeOut", "Erro - ", "Este CNPJ já está cadastrado");
      }

      if(cnpj_valido)
        atualizacaoValida(nome);
    }

    else{
      document.form.action = "javascript:void(0)";
      notify("bottom", "center", "fa fa-check", "info", "animated fadeIn", "animated fadeOut", "Erro - ", "Preencha todos os campos");
    }

  }

  function cadastroValido(cli){
      swal({
          title: 'Sucesso',
          text: "Clínica " + cli + ' cadastrada!',
          type: 'success',
          buttonsStyling: false,
          confirmButtonClass: 'btn btn-primary',

      }).then(function(){
          document.form.action = "";
          document.form.submit();
      });
  };

  function atualizacaoValida(cli){
      swal({
          title: 'Sucesso',
          text: "Clínica " + cli + ' atualizada!',
          type: 'success',
          buttonsStyling: false,
          confirmButtonClass: 'btn btn-primary',

      }).then(function(){
          document.form.action = "";
          document.form.submit();
      });
  };
</script>

{% endblock %}
