{% extends "base_index.html" %}
{% block index %}
{% load static %}

<script>

window.onload = function(){
  document.getElementById('li_novo_paciente').className = "navigation__active";
}

</script>

<section class="content">
                <div class="content__inner">
                    <header class="content__title">
                        <h1>
                          {% if paciente %}
                          Atualizar Paciente
                          {% else %}
                          Novo Paciente
                          {% endif %}
                        </h1>
                    </header>
                </div>
<div class="card">
  <div class="card-body">

      <form method="post" action="javascript:void(0)" name="form" id="form">
        {% csrf_token %}

      {% for field in form %}
      <div class="form-group form-group--float">

        {% if field.name == "cpf" %}
        <input id="{{field.id_for_label}}" type="text" class="form-control" value="{{field.value|default_if_none:''}}" name="{{field.name}}" maxlength="11">
        <label>{{ field.name|upper }}</label>
        {% else %}
        <input id="{{field.id_for_label}}" type="text" class="form-control" value="{{field.value|default_if_none:''}}" name="{{field.name}}" >
        <label>{{field.name|capfirst}}</label>
        {% endif %}

        <i class="form-group__bar"></i>
      </div>
      {% endfor %}

      {% if paciente %}
      <button type="button" onclick="atualizar({{cpfs}}, {{cpf}})" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          Atualizar
      </button>
      {% else %}
      <button type="button" onclick="cadastrar({{cpfs}})" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
          Cadastrar
      </button>
      {% endif %}
    </form>

  </div>
</div>

<script>

      function mudarAcao(){
        document.form.action = "";
      }

      function cadastrar(cpfs){

          cpf = document.getElementById('id_cpf').value;
          nome = document.getElementById('id_nome').value;
          historico = document.getElementById('id_historico').value;

          if(cpf != "" && nome != "" && historico != ""){

              cpf_valido = true;

              if(cpfs.indexOf(cpf) != -1){
                notify("bottom", "center", "fa fa-check", "info", "animated fadeIn", "animated fadeOut", "Erro - ", "Este CPF já foi cadastrado");
                cpf_valido = false;
              }

              if(cpf_valido)
                cadastroValido(nome);
            }

          else{
              document.form.action = "javascript:void(0)";
              notify("bottom", "center", "fa fa-check", "info", "animated fadeIn", "animated fadeOut", "Erro - ", "Preencha todos os campos");
          }
      }

      function atualizar(cpfs, c){

          cpf = document.getElementById('id_cpf').value;
          nome = document.getElementById('id_nome').value;
          historico = document.getElementById('id_historico').value;

          if(cpf != "" && nome != "" && historico != ""){

              cpf_valido = true;

              if(cpfs.indexOf(cpf) != -1 && cpf != c){
                notify("bottom", "center", "fa fa-check", "info", "animated fadeIn", "animated fadeOut", "Erro - ", "Este CPF já foi cadastrado");
                cpf_valido = false;
              }

              if(cpf_valido)
                atualizacaoValida(nome);
            }

          else{
              document.form.action = "javascript:void(0)";
              notify("bottom", "center", "fa fa-check", "info", "animated fadeIn", "animated fadeOut", "Erro - ", "Preencha todos os campos");
          }
      }

      function cadastroValido(pac){
          swal({
              title: 'Sucesso',
              text: 'Paciente ' + pac + ' cadastrado(a)!',
              type: 'success',
              buttonsStyling: false,
              confirmButtonClass: 'btn btn-primary',

          }).then(function(){
              document.form.action = "";
              document.form.submit();
          });
      };

      function atualizacaoValida(pac){
          swal({
              title: 'Sucesso',
              text: "Paciente " + pac + ' atualizado(a)!',
              type: 'success',
              buttonsStyling: false,
              confirmButtonClass: 'btn btn-primary',

          }).then(function(){
              document.form.action = "";
              document.form.submit();
          });
      };
</script>

{% endblock %}
