{% extends "base-delete.html" %}
{% block base %}

</head>
<body data-ma-theme="blue" onload="permissao()">

<form method="post" action="javascript:void(0)" name="form" id="form">
  {% csrf_token %}
</form>

<a href="#" id="a"></a>

<script>

function permissao(){
  swal({
      title: 'Sem Permissão!',
      type: 'warning',
      buttonsStyling: false,
      confirmButtonText: 'OK',
      confirmButtonClass: 'btn btn-primary',
      }).then(function(){
          document.form.action = "{% url 'index' %}";
          document.form.submit();
      });
}

</script>

{% endblock %}
