{% extends "base_login.html" %}
{% block base-log %}

<div class="login">

    <!-- Login -->
    <div class="login__block active" id="l-login">
        <div class="login__block__header">
          <h3>TEO</h3>
            Tela de Login

            <div class="actions actions--inverse login__block__actions">
                <div class="dropdown">
                    <i data-toggle="dropdown" class="zmdi zmdi-more-vert actions__item"></i>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" data-ma-target="#l-register" href="{% url 'register' %}">Criar conta</a>
                        <a class="dropdown-item" data-ma-target="#l-register" href="{% url 'password_reset' %}">Esqueceu a Senha?</a>
                    </div>
                </div>
            </div>
        </div>

        <form method="post" name="form" id="form">
        {% csrf_token %}
        <div class="login__block__body">

            {% for field in form %}
            <div class="form-group form-group--float">
                {% if field.name == "password" %}
                  <input id="{{field.id_for_label}}" placeholder="{{field.name}}" value="{{field.value|default_if_none:''}}" type="password" class="form-control" name="{{field.name}}">
                  <div id="erroPassword" class="invalid-feedback"></div>
                  {% if field.errors %}
                    <script>
                      password = document.getElementById('id_password');
                      password.className = "form-control is-invalid"

                      if(password.value == "")
                        document.getElementById('erroPassword').innerHTML = "este campo é obrigatório";

                      else
                        document.getElementById('erroPassword').innerHTML = "senha inválida";
                    </script>
                  {% elif form.non_field_errors %}
                    <script>
                      password = document.getElementById('id_password');
                      password.className = "form-control is-invalid"
                      document.getElementById('erroPassword').innerHTML = "informe senha e usuário corretos";
                    </script>
                  {% else %}
                    <script>
                      password = document.getElementById('id_password');

                      if(password.value != "")
                        password.className = "form-control is-valid";
                    </script>
                  {% endif %}
                {% else %}
                  <input id="{{field.id_for_label}}" placeholder="{{field.name}}" value="{{field.value|default_if_none:''}}" type="text" class="form-control" name="{{field.name}}">
                  <div id="erroUsername" class="invalid-feedback"></div>
                  {% if field.errors %}
                    <script>
                      username = document.getElementById('id_username');
                      username.className = "form-control is-invalid"

                      if(username.value == "")
                        document.getElementById('erroUsername').innerHTML = "este campo é obrigatório";

                      else
                        document.getElementById('erroUsername').innerHTML = "este usuário já existe";
                    </script>
                    {% elif form.non_field_errors %}
                      <script>
                        username = document.getElementById('id_username');
                        username.className = "form-control is-invalid"
                        //document.getElementById('erroPassword').innerHTML = "informe senha e usuário corretos";
                      </script>
                    {% else %}
                    <script>
                      username = document.getElementById('id_username');

                      if(username.value != "")
                        username.className = "form-control is-valid";
                    </script>
                  {% endif %}
                {% endif %}
                <i class="form-group__bar"></i>
            </div>
            {% endfor %}

            <button href="index.html" class="btn btn--icon login__block__btn"><i class="zmdi zmdi-long-arrow-right"></i></button>
        </div>
      </form>

    </div>
</div>
{% endblock %}
