{% extends "base_log.html" %}
{% block base %}

<div class="login">

    <!-- Register -->
    <div class="login__block active" id="l-register">
        <div class="login__block__header palette-Blue bg">
            <h3>TEO</h3>
            Criar Conta

            <div class="actions actions--inverse login__block__actions">
                <div class="dropdown">
                    <i data-toggle="dropdown" class="zmdi zmdi-more-vert actions__item"></i>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" data-ma-target="#l-login" href="{% url 'login' %}">Já tem uma conta?</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="login__block__body">
          <form method="post" name="form" id="form">
            {% csrf_token %}

            {% for field in form %}
            <div class="form-group form-group--float">
                {% if field.name == "password1" %}
                  <input id="{{field.id_for_label}}" placeholder="{{field.label|capfirst}}" onblur="desfoco()" type="password" class="form-control" value="{{field.value|default_if_none:''}}" name="{{field.name}}" maxlength="11">
                  <div id="erroPassword1" class="invalid-feedback"></div>
                    {% if field.errors %}
                    <script>
                      password1 = document.getElementById('id_password1');
                      password1.className = "form-control is-invalid"

                      if(password1.value == "")
                        document.getElementById('erroPassword1').innerHTML = "este campo é obrigatório";

                      else
                        document.getElementById('erroPassword1').innerHTML = "senha inválida";
                    </script>
                    {% else %}
                    <script>
                        password1 = document.getElementById('id_password1');

                        if(password1.value != "")
                          password1.className = "form-control is-valid";
                    </script>
                    {% endif %}
                {% elif field.name == "password2" %}
                  <input id="{{field.id_for_label}}" placeholder="{{field.label|capfirst}}" onblur="desfoco()" type="password" class="form-control" value="{{field.value|default_if_none:''}}" name="{{field.name}}" maxlength="11">
                  <div id="erroPassword2" class="invalid-feedback"></div>
                    {% if field.errors %}
                    <script>
                      password2 = document.getElementById('id_password2');
                      password2.className = "form-control is-invalid"

                      if(password2.value == "")
                        document.getElementById('erroPassword2').innerHTML = "este campo é obrigatório";

                      else
                        document.getElementById('erroPassword2').innerHTML = "senha inválida";
                    </script>
                    {% else %}
                    <script>
                      password2 = document.getElementById('id_password2');

                      if(password2.value != "")
                        password2.className = "form-control is-valid";
                    </script>
                    {% endif %}
                {% elif  field.name == "username" %}
                <input id="{{field.id_for_label}}" placeholder="{{field.label|capfirst}}" onblur="desfoco()" type="text" class="form-control" value="{{field.value|default_if_none:''}}" name="{{field.name}}">
                <div id="erroUsername" class="invalid-feedback"></div>
                  {% if field.errors %}
                    <script>
                      username = document.getElementById('id_username');
                      username.className = "form-control is-invalid"

                      if(username.value == "")
                        document.getElementById('erroUsername').innerHTML = "este campo é obrigatório";

                      else
                        document.getElementById('erroUsername').innerHTML = "este usuário já existe";
                    </script>
                    {% else %}
                    <script>
                      username = document.getElementById('id_username');

                      if(username.value != "")
                        username.className = "form-control is-valid";
                    </script>
                  {% endif %}
                {% else %}
                <input id="{{field.id_for_label}}" placeholder="{{field.label|capfirst}}" onblur="desfoco()" type="email" class="form-control" value="{{field.value|default_if_none:''}}" name="{{field.name}}">
                <div id="erroEmail" class="invalid-feedback"></div>
                  {% if field.errors %}
                    <script>
                      email = document.getElementById('id_email');
                      email.className = "form-control is-invalid"

                      if(email.value == "")
                        document.getElementById('erroEmail').innerHTML = "este campo é obrigatório";

                      else
                        document.getElementById('erroEmail').innerHTML = "este email já existe";
                    </script>
                    {% else %}
                    <script>
                      email = document.getElementById('id_email');

                      if(email.value != "")
                        email.className = "form-control is-valid";
                    </script>
                  {% endif %}
                {% endif %}

                <i class="form-group__bar"></i>
            </div>
            {% endfor %}

            <div class="form-group">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Ao cadastrar, aceito os termos de licença</span>
                </label>
            </div>
            <button class="btn btn--icon login__block__btn"><i class="zmdi zmdi-check"></i></button>
          </form>
        </div>
    </div>
</div>

<script>

function desfoco(){

  username = document.getElementById('id_username');

  if(username.className == "form-control is-invalid" && username.value != "")
    document.getElementById('id_username').className = "form-control is-valid";
}

</script>

{% endblock %}
